/* star body */
body {
   background-color: lightpink;
   color: black ;
   font-family: 'Times New Roman', Times, serif;
   font-size: 16px;
   line-height: 1.5cm;
   margin: 0;
   padding: 0;
}

@media only screen and (max-width:600px){
    body {
        font-size: 10px;
    }
    
}
/* end body */

/* Star Debug*/
.bg-lightblue {
    background-color: lightgrey;
}
.bg-beige{
    background-color: beige;
}
/* End Debug*/

/* Star Container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 100%;

}
/* End Container*/


/* Star Logo*/
.logo {
        text-align: center;
}
/* End Logo*/


/* Star Menu Primer */
.menu-primer ul{
    background-color:pink;
    border-radius: 4px;
    box-shadow:
    0 3px 5px -1px rgba (0,0,0,2),
    0 6px 10px 0 rgba (0,0,0,14),
    0 1px 18px 0 rgba (0,0,0,12);

}
.menu-primer li{
    border-right: 1px solid rgb(219, 154, 154);
    display: inline-block;
}
.menu-primer a{
    color: rgb(239, 245, 247);
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu-primer a:hover{
    background-color: #acb6b6;
    color: #000000;
    text-decoration: none;
}
.menu-primer .active{
    background-color: #f7f7f7;
    color: #333333;
    text-decoration: none;

}
/* End Menu Primer */

/* Star Snip */
@import url(https://fonts.googleapis.com/css?family=Raleway);
.snip1580 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1580 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1580 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1580 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
}
.snip1580 h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 3px 0;
}
.snip1580 h5 {
  font-weight: 400;
  margin: 0;
  color: #bbb;
  letter-spacing: 1px;
}
.snip1580 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1580:hover figcaption,
.snip1580.hover figcaption {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
}
.snip1580:hover h3,
.snip1580.hover h3,
.snip1580:hover h5,
.snip1580.hover h5 {
  color: #333;
}
/* End  Snip*/
