/* star body */
body {
    background-color:beige;
    color: black ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5cm;
    margin: 0;
    padding: 0;
 }
 /* end body */

 
/* Star Debug*/
.bg-lightblue {
    background-color: lightblue;
}
.bg-beige{
    background-color: lightpink;
}
/* End Debug*/

/* Star Container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 100%;

}
/* End Container*/

/* Star Logo*/
.logo {
        text-align: center;
}
/* End Logo*/

/* Star Menu Primer */
.menu-primer ul{
    background-color:lightpink;
    border-radius: 4px;
    box-shadow:
    0 3px 5px -1px rgba (0,0,0,2),
    0 6px 10px 0 rgba (0,0,0,14),
    0 1px 18px 0 rgba (0,0,0,12);

}
.menu-primer li{
    border-right: 1px solid #d1d5da;
    display: inline-block;
}
.menu-primer a{
    color: #f7f7f7;
    font-size: 13px;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu-primer a:hover{
    background-color: beige;
    color: #000000;
    text-decoration: none;
}
.menu-primer .active{
    background-color: #f7f7f7;
    color: #333333;
    text-decoration: none;

}
/* End Menu Primer */